<div class="field-wrapper">
  <label class="field-label">{{ label }}</label>

  <!-- READ ONLY -->
   @if (!editMode) {
     <div class="readonly-text">
       {{ control.value || '—' }}
     </div>
   }

  <!-- EDIT MODE -->
  @if (editMode){

    <div>
      <input
      [type]="type"
      class="input-box"
      [placeholder]="placeholder"
      [formControl]="control"
      />
      
      @if (control.invalid && control.touched) {
        <div class="error">
          @if (control.hasError('required')) {
            <span>This field is required.</span>
          }
          @if (control.hasError('email')) {
            <span>Invalid email.</span>
          }
          @if (control.hasError('minlength')) {
            <span>Too short.</span>
          }
        </div>
      }
    </div>
  }
</div>
