.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F96167;
    color: white;
    padding: 15px 30px;
}

.top-nav .logo {
    font-size: 35px;
    font-weight: bold;
}

.top-nav .auth-links a {
    color: #F9E795;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 500;
}
.auth-links{
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
}