.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4); /* Overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: #fff;
  width: 420px;
  padding: 32px;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  position: relative;
  animation: fadeIn 0.3s ease;
} 

.close-btn {
  position: absolute;
  right: 16px;
  top: 16px;
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
  color: #444;
}
.hidden{
    display: none;
}

/* Animation */
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}