.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Overlay */
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  position: relative;
}

.modal-content form {
  display: flex;
  flex-direction: column;
}

.modal-content input,
.modal-content button {
  margin: 10px 0;
  padding: 10px;
}

.close-btn {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 20px;
  cursor: pointer;
}
.hidden{
    display: none;
}