body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* Top Navigation */


.top-nav .auth-links a:hover {
    text-decoration: underline;
}

/* Main Content */
.main-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

