<div class="container" *ngIf="!loading(); else loadingTpl">

  <div class="grid">

    <!-- HEADER CARD -->
    <div class="card full">
      <img class="profile-pic" [src]="employee.profilePicUrl" alt="Profile" />

      <h2>{{ employee.fullName }}</h2>
      <p class="role-text">{{ employee.role }}</p>
      
      <button *ngIf="!editMode()" class="edit-btn" (click)="enterEditMode()">
        Edit
      </button>

      <div class="points">
        <span>{{ employee.points }}</span>
        <label>Points</label>
      </div>
    </div>

    <section class="card">
      <h3>Basic Details</h3>
      <app-achievo-input label="Full Name" placeholder="Enter full name" [control]="fullNameCtrl"
        [editMode]="editMode()">
      </app-achievo-input>
      <app-achievo-input label="Role" placeholder="Enter role" [control]="roleCtrl" [editMode]="editMode()">
      </app-achievo-input>
      <app-achievo-input label="Department" placeholder="Enter department" [control]="departmentCtrl"
        [editMode]="editMode()">
      </app-achievo-input>
    </section>

    <section class="card">
      <h3>Contact Details</h3>
      <app-achievo-input label="Email" placeholder="Enter email" type="email" [control]="emailCtrl"
        [editMode]="editMode()">
      </app-achievo-input>
      <app-achievo-input label="Phone" placeholder="Enter phone number" [control]="phoneCtrl" [editMode]="editMode()">
      </app-achievo-input>
    </section>

    <section class="card full">
      <h3>Addresses</h3>
    </section>

    <!-- SAVE / CANCEL -->

    <div class="action-bar" *ngIf="editMode()">
        <button class="cancel-btn" (click)="cancelEdit()">Cancel</button>

        <button class="save-btn" (click)="saveChanges()">
          <span *ngIf="!saving()">Save Changes</span>
          <span *ngIf="saving()">Saving...</span>
        </button>
    </div>

  </div>

</div>

<ng-template #loadingTpl>
  <div class="loading">Loading employee details...</div>
</ng-template>