.container {
  max-width: 900px;
  margin: auto;
}

.profile-pic {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-info h2 {
  margin: 0;
  font-size: 1.4rem;
}

.role-text {
  color: #64748b;
  margin: 4px 0 0;
}

.points {
  margin-left: auto;
  text-align: center;
  background: #4f46e5;
  color: white;
  padding: 10px 16px;
  border-radius: 12px;
  min-width: 85px;
}

.points span {
  display: block;
  font-size: 1.4rem;
  font-weight: 700;
}

.edit-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  background: #4f46e5;
  margin: 10px 10px 0px 0px;
  padding: 8px 14px;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}


/* ACTION BAR */
.action-bar {
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.cancel-btn {
  background: #e2e8f0;
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.save-btn {
  background: #4f46e5;
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.loading {
  text-align: center;
  padding: 40px;
  font-size: 1.1rem;
}

.grid {
  margin-top: 25px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

.card {
  position: relative;
  background: gainsboro;
  padding: 20px;
  border-radius: 14px;
  grid-column: span 1;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.card.full {
  grid-column: span 2;
}

